<div class="palm-body-text">

<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>

<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="title left">Answer Questions</div>                         
	</div>
</div>
	
<!-- declare widget 
	https://developer.palm.com/content/api/dev-guide/mojo/all-about-widgets/anatomy-of-a-widget.html#declaring-widgets 
	https://developer.palm.com/content/api/dev-guide/mojo/all-about-widgets/pickers.html
-->

<div class="palm-row" x-mojo-focus-highlight="true">
  <div class="palm-row-wrapper">
      <div class="title">
          <div id='arithmeticPicker' x-mojo-element="IntegerPicker"></div>
      </div>
  </div>
</div> 

<div class="scene-footer">
	<div class="scene-footer-wrapper">
		<div id="addAlarm" x-mojo-element="Button"></div>			
	</div>
</div>
<div class="scene-footer-spacer two-buttons"></div>

</div>
