<div class="palm-scene">

<div id="spinner-container" class="palm-scrim">
	<div id="big-spinner" x-mojo-element="Spinner"></div>
</div>

<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>

<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="title left">BipBipBip Alarms</div>          
		<div class="subtitle truncating-text">
			<strong>Next:</strong> Test Alarm 2 today at 9:30 pm blah blah more more
		</div>
	</div>
</div>
	
<div x-mojo-element="List" id="alarmList">
</div> 

<div class="scene-footer">
	<div class="scene-footer-wrapper">
		<div id="addAlarm" x-mojo-element="Button"></div>			
	</div>
</div>
<div class="scene-footer-spacer two-buttons"></div>
	
</div>