<div class="palm-scene">

<!--
	<div class="palm-header center">1 + 1 = ?</div>
-->
<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="title left">1 + 1 = ?</div>          
<!--		<div class="subtitle">
			<strong>Next:</strong> Test Alarm 2 today at 9:30 pm
		</div>
-->
	</div>
</div>
	
	<!-- maybe have a progress bar? -->
	<!-- <div id="progressPill" x-mojo-element="ProgressPill" class="details-progress-pill"></div> -->
	<!-- http://www.weboshelp.net/webos-mojo-development-resources/ui-widget-list/323-progressbar -->
	<!-- <div x-mojo-element="ProgressBar" id="questionProgressBar"></div> -->
	 <div x-mojo-element="ProgressPill" id="questionProgressPill"></div>
	
	<div class="palm-group">
	
		<div class="palm-group-title">Answer</div>
		<div class="palm-list">
		
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div id="answer1" x-mojo-element="Button"></div>
				</div>
			</div>
				
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="answer2" x-mojo-element="Button"></div>
				</div>
			</div>

			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="answer3" x-mojo-element="Button"></div>
				</div>
			</div>
				
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div id="answer4" x-mojo-element="Button"></div>
				</div>
			</div>
				
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div id="answer5" x-mojo-element="Button"></div>
				</div>
			</div>
				
		</div>
	</div>	
	
	

			
</div> <!-- end "palm-scene">