<div class="palm-scene" id="alarmDetailsScene">

<div class="scene-fade-top" x-mojo-scroll-fade="top"></div>
<div class="scene-fade-bottom" x-mojo-scroll-fade="bottom"></div>

<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left" id="headerTitle">Add new alarm</div>
	</div>
</div>
	
<div class="mainAlarm">
	<!--
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div x-mojo-element="ToggleButton" class="left" id="enabled"></div>
			<div class="label right">
				Enabled
			</div>
		</div>
   </div>
   -->
   
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div class="textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div class="label">Title</div>
					<div x-mojo-element="TextField" id="title" class="alarmTitle"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div x-mojo-element="TimePicker" id="time"></div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id='repeatCheck' x-mojo-element='CheckBox' class='left'></div>
			<div id="repeatCheckLabel" class="checkbox-label">Repeat</div>
			<div id="repeatSelector">
				<div class="palm-radiobutton">
					<div class="radiobutton first">Sun</div>
					<div class="radiobutton">Mon</div>
					<div class="radiobutton">Tue</div>
					<div class="radiobutton">Wed</div>
					<div class="radiobutton">Thu</div>
					<div class="radiobutton">Fri</div>
					<div class="radiobutton last">Sat</div>
				</div>
			</div>
		</div>
   </div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div x-mojo-element="ListSelector" id="snoozeDuration"></div>
		</div>
   </div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div x-mojo-element="ListSelector" id="soundSelector"></div>
		</div>
   </div>
	
	<div class="palm-row minigames">
		<div class="palm-row-wrapper">
			<div class="label right">
				 <div class="symbol">&rsaquo;</div>
				Games
			</div>
		</div>
   </div>
   
   <div class="addChain">
   		<button class="capitalize" x-mojo-touch-feedback="delayed">
   			Add a follow-up alarm
   		</button>
   	</div>
</div>

<div class="scene-footer">
	<div class="scene-footer-wrapper">
		<div id="saveAlarm" x-mojo-element="Button"></div>			
	</div>
</div>
<div class="scene-footer-spacer two-buttons"></div>
	
</div>