#spinner-scrim {
	/*
	display: none;
	*/
}

#alarmList .palm-row {
	margin: 0;
	padding: 2px 8px 2px 0 !important;
	clear: both;
}

#alarmList .palm-row .details {
	float: right;
	margin: 10px 10px 8px 0;
	color: rgba(64, 64, 64, .7);
	text-transform: uppercase;
	position: relative;
	top: -3px;
}
#alarmList .palm-row.selected .details {
	color: rgba(200, 200, 200, .7);
}
#alarmList .palm-row .details .time {
	font-size: 12pt;
	font-weight: bold;
	text-align: right;
}
#alarmList .palm-row .details .days {
	font-size: 8pt;
	text-align: center;
}

#alarmList .palm-row .title {
	margin: 7px 0;
}

.scene-fade-top {
	position: fixed; 
	top: 0; 
	z-index: 100000;
	height: 54px; 
	width: 100%;
	background: url(../images/my-scene-fade-top.png) center bottom no-repeat;
}
.scene-fade-bottom {
	position: fixed; 
	bottom: 54px;
	z-index: 100000;
	height: 54px; 
	width: 100%;
	background:url(../images/fade-arrow-down.png) center bottom no-repeat;
	-webkit-palm-mouse-target: ignore;
}
.scene-footer-spacer.two-buttons {
	padding-bottom: 65px;
}

.scene-footer {
	position:fixed; 
	bottom:0px; 
	left:0px; 
	right:0px;
	-webkit-border-image: url(../images/fade-bottom-light-30px.png) 35 0 0 0 repeat repeat;
	border-width: 35px 0px 0px 0px;
	-webkit-palm-mouse-target: ignore;
}
.scene-footer-wrapper {
	margin-top:-10px;
}

.checkbox-label {
	display: block;
	padding-top: 10px;
}

#title .label {
	margin-right: 0;
}

#repeatSelector {
	overflow: hidden;
	height: 0px;
	clear: both;
}
/*
#repeatSelector ol {
	margin: 15px 10px;
	padding: 0;
	height: 48px;
	clear: both;
	border-radius: 10px;
	border: 1px solid #a6a6a5;
	box-shadow: 1px 1px 0px #eeeee6;
	-webkit-box-shadow: 1px 1px 0px #eeeee6;
	
}
#repeatSelector ol li {
	display: block;
	float: left;
	text-align: center;
	width: 42px;
	height: 48px;
	line-height: 48px;
	font-size: 10pt;
	text-transform: uppercase;
	border-left: 1px solid #a6a6a5;
}
#repeatSelector ol li:first-child {
	width: 40px;
	border-left: none !important;
}

#repeatSelector ol li:last-child {
	width: 40px;
}
*/
#repeatSelector div.palm-radiobutton {
	margin-left: 10px;
}
#repeatSelector div.palm-radiobutton div.radiobutton {
	width: 43px;
}

#time {
	margin: 0 0 0 10px;
}

.palm-row.minigames .label {
	position: relative;
	top: -4px;
}

.palm-row.minigames .label .symbol {
	display: block;
	float: right;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	margin-left: 7px;
	color: #8b8b8a;
}

.addChain button {
	width: 310px;
	padding: 5px 10px;
	margin: 5px;
	text-align: center;
}